



.A-text {
    line-height: 10px;
    text-transform: uppercase;
    margin-top: 10vh;
}


@media(max-width: 540px) {
    .A-text h2 {
        font-size: 25px;
        line-height: 20px;
    }
}
.A-text p {
    font-size: 12px;
    letter-spacing: -0.7px;
    line-height: 20px;
}

.A-boxes {
    width: 100%;
}


.box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}