
.porps {
    width: 350px;
    height: 93px;
    border: 2px dotted  rgb(97, 213, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-right: 25px;
    margin-bottom: 10vh;
}


.props-left img {
    width: 50px;
    height: 50px;
}

.props-right {
    line-height: 1px;
    width: 55%;
    letter-spacing: -1px;   
    font-size: 14px;
}

.props-right h2 {
    font-size: 28px;
    color: rgb(73, 84, 125);
}

.props-right p {
    color: rgb(73, 84, 125);
    font-size: 18px;
}