.left-side {
    width: 54px;
    height: 611px;
    background-color: aliceblue;
}

.logo {
    border-bottom: 1px solid gray;
    padding: 20px 0 ;
    color: black;
    background-color: rgb(179, 175, 175);
}
.logo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.list {
    width: 30px;
    height: 30px;
    padding: 15px 0;
}
.list img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}