.right-side {
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 233, 233);
    display: flex;
}

.catalog {
    width: 255px;
    height: 505px;
    background-color: rgb(236, 237, 245);
}

.categoryTop {
    width: 100%;
    height: 52px;
    background-color: rgb(93, 107, 159);
    position: relative;
    padding-top: 2px;
}


.categoryTop p {
    font-size: 14px;
    padding: 10px 15px;
}

.categoryTop img {
    width: 19px;
    height: 19px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.categoryBot {
    width: 100%;
    height: 52px;
    background-color: rgb(157, 169, 213);
    position: relative;
    padding-top: 2px;

}

.categoryBot p {
    font-size: 14px;
    padding: 10px 15px;
}

.categoryBot img {
    width: 19px;
    height: 19px;
    position: absolute;
    right: 20px;
    top: 10px;
}



form {
    width: 100%;
    height: 200px;      
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}
.input {
    padding: 10px;
}

.pricese {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pricese p {
    font-size: 15px;
}
.select {
    width: 100%;
    height: 150px;
    background-color: rgb(242, 240, 238);
}

.selectTop {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .selectTop {
        display: none;
    }
}

.price {
    width: 100%;
    height: 150px;
}

.price h1 {
    font-size: 14px;
    padding: 0 5px;
    color: black;
}

.price p {
    color: black;
}

.slider{
    cursor: pointer;
}

.selectAll {
    border-radius: 5px;
    background-color: rgb(97, 213, 223);
    margin: 0 5vh;
}

.selectAll p {
    font-size: 14px;
    padding: 0 10px;
}

.search {
    width: 480px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    padding: 0 5px;
    position: relative;
}

.search input {
    width: 480px;
    border: 0;
    border-radius: 10px;
    height: 40px;
    
}

.search img {
    width: 19px;
    height: 19px;
    position: absolute;
    right: 20px;
    top: 15px;
}

.inventory {
    border-radius: 10px;
    background-color: aqua;
}

.inventory p {
    font-size: 14px;
    padding: 0 5px;
}

.btn {
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: 10px;
}

.selecttext {
    color: black;
    margin-right: 350px;
}

label {
    color: black;
}
.selectBot {
    opacity: 0.5;
    background-color: rgb(255, 255, 255);
}

.label {
    font-size: 20px;
    margin-left: 5vh;
    margin-right: 10px;
}

.prodacts {
    width: 100%;
    height: 88vh;
    /* background-color: black; */


}


.prodacts {
    color: black;
    width: 99%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 5px 0 10px 5px rgb(126, 125, 125);
    margin-top: 3vh;
}

@media (max-width: 1200px) {
    .prodacts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .prodacts {
        grid-template-columns: repeat(1, 1fr);
    }
}

.prodacts p {
    color: black;
    font-size: 20px;
}



.staff {
    width: 40vh;
    height: 40vh;
    background-color: rgb(237, 237, 237);
}

.staffImage {
    width: 100%;
    background-color: rgb(126, 125, 125);
    height: 20vh;
}

.staffImage img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.staffTitle {

    box-sizing: border-box;
}

@media (max-width: 650px) {
    .catalog {
        display: none;
    }
    .prodacts {
        height: 120vh;
        overflow: hidden;
    }
}