.right-side {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
}

.catalog {
    width: 255px;
    height: 505px;
    background-color: rgb(236, 237, 245);
}

.categoryTop {
    width: 100%;
    height: 52px;
    background-color: rgb(93, 107, 159);
    position: relative;
    padding-top: 2px;
}


.categoryTop p {
    font-size: 14px;
    padding: 10px 15px;
}

.categoryTop img {
    width: 19px;
    height: 19px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.categoryBot {
    width: 100%;
    height: 52px;
    background-color: rgb(157, 169, 213);
    position: relative;
    padding-top: 2px;

}

.categoryBot p {
    font-size: 14px;
    padding: 10px 15px;
}

.categoryBot img {
    width: 19px;
    height: 19px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.select {
    width: 100%;
    height: 150px;
    background-color: antiquewhite;
}

form {
    width: 100%;
    height: 200px;      
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.input {
    padding: 10px;
}

.price {
    width: 100%;
    background-color: aqua;
    height: 150px;
}

.price h1 {
    font-size: 14px;
    padding: 0 5px;
}

.slider{
    cursor: pointer;
}