.Esection {
    height: 734px;
    background-color: rgb(36, 41, 62);
    color: #ffffff;
}


.E-top ul {
    display: flex;
    justify-content: center;
    padding-top: 4vh;
    flex-wrap: wrap;
}
.E-top li {
    padding-right: 3vh;
    border-bottom: 3px solid #ffffff ;
    margin-right: 2px;
    padding-right: 4vh;
    padding: 20px;
}

.E-bot{
    text-align: left;
    display: flex;
    justify-content: center;
    line-height: 18px;

}

.E-bot div {
    width: 50%;
}

@media (max-width: 1270px) {
    .E-bot div {
        width: 80%;
    }
}

@media (max-width: 790px) {
    .E-bot div {
        width: 100%;
    }
}

@media (max-width: 652px) {
    .E-bot div p {
        font-size: 14px;
    }
    .Esection {
        height: 900px;
    }
}

@media (max-width: 446px) {
    .Esection {
        height: 1200px;
        padding-bottom: 20vh;

    }
}