* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.blog-banner {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-banner-img {
    width: 100%;
    height: 60vh;
}
.blog-banner-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog-banner-text {
    position:absolute;
    width: 40%;
    padding: 3vh 4vh;
    background-color: rgba(36, 41, 62, 0.8);
}

.blog-banner-text h2 {
 font-size: 34px;
 color: #ffffff;
}

@media (max-width: 660px) {
    .blog-banner-text {
        width: 70%;
    }
}

@media (max-width: 380px) {
    .blog-banner-text {
        width: 90%;
    }
}

